/ObjectPlacementUnityProj/[Ll]ibrary/
/ObjectPlacementUnityProj/[Tt]emp/
/ObjectPlacementUnityProj/[Oo]bj/
/ObjectPlacementUnityProj/[Bb]uild/
/ObjectPlacementUnityProj/[Bb]uilds/
/ObjectPlacementUnityProj/Assets/AssetStoreTools*

ObjectPlacementUnityProj/ExportedObj/
ObjectPlacementUnityProj/*.csproj
ObjectPlacementUnityProj/*.unityproj
ObjectPlacementUnityProj/*.sln
ObjectPlacementUnityProj/*.suo
ObjectPlacementUnityProj/*.tmp
ObjectPlacementUnityProj/*.user
ObjectPlacementUnityProj/*.userprefs
ObjectPlacementUnityProj/*.pidb
ObjectPlacementUnityProj/*.booproj
ObjectPlacementUnityProj/*.svd
ObjectPlacementUnityProj/*.pidb.meta
ObjectPlacementUnityProj/sysinfo.txt
